@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/font/montserrat/montserrat-thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/font/montserrat/montserrat-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/font/montserrat/montserrat-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/font/montserrat/montserrat-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../../assets/font/montserrat/montserrat-black.otf");
  font-weight: 900;
}
